@font-face {
    font-family: "SegoeUIBlack";
    src: url("../fonts/seguibl.woff") format("woff"), /* Modern Browsers */
      url("../fonts/seguibl.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Bahnschrift';
    font-style: normal;
    font-weight: normal;
    src: local('Bahnschrift'), url('fonts/BAHNSCHRIFT1.woff') format('woff');
    }

  .img{
      max-width:180px;
      max-height:180px;
      padding: 10px;
  }


  .img1{
    margin-left: 50%;
    transform: translateX(-50%);
    max-width:90px;
    margin-top: 32%;
    max-height:90px;
    padding: 15px;
}

.pley1{
    width: 300px;
    height: 200px;
    position: absolute;
    transform: translateY(-50%);
    line-height: 200px;
    left: 14%;
    top: 50%;
}

.btnFim{
    width: 100%;
    height: 200px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0%;
    position: absolute;
}

.pley2{
    width: 300px;
    height: 200px;
    position: absolute;
    line-height: 200px;
    right: 16%;
    top: 0;
}
.estrelinha{
    line-height: 150px;
    text-align: center;
    font-size: 70px;
    font-family: "SegoeUIBlack";
    position: absolute;
    color: #ffb720;
    width: 100%;
    height: 200px;
}
       .meiuca{
           width: 100%;
           height: 200px;
           line-height: 400px;
           text-align: center;
           left: 50%;
           top: 50%;
           position: absolute;
           transform: translateX(-50%) translateY(-50%);
        }

        .filho1{
            font-size: 100px;
            font-family: "SegoeUIBlack";
            width: 300px;
            height: 200px;
            position: absolute;
            transform: translateY(-50%);
            line-height: 200px;
            left: 15%;
            top: 50%;
            color: #ffae00;
        }

        .filho2{
            font-size: 100px;
            font-family: "SegoeUIBlack";
            width: 300px;
            height: 200px;
            position: absolute;
            line-height: 200px;
            right: 15%;
            color: #ffae00;
            top: 0;
        }

      body{
      margin: 0;
      font-weight: 300;
  }
 

  .container1{
      width: 80%;
      margin: 0 auto;
  
  }
  header{
      background: #ffe091;
  }
  header::after{
      content: '';
      display: table;
      clear: both;
  }
  nav{
      float: right;
  }
  nav ul{
      width: auto;
      float: right;
      margin-top: 2px;
  
  }
  nav li{
      display: inline-block;
      padding: 5px 10px;
      margin-top: 7px;
  }
  .qmsomos {
      background-color:#ffae00;
      border-radius:42px;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family: 'Bahnschrift';
      font-size:17px;
      padding:18px 31px;
      text-decoration:none;
      text-shadow:0px 1px 0px #e69900;
  }
  .qmsomos:hover {
      background-color:#ffb720;
  }
  .qmsomos:active {
      position:relative;
      top:1px;
  }
  .Jogar {
      box-shadow: 0px 3px 0px 0px #555554;
      background-color:#ffae00;
      border-radius:42px;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family: 'SegoeUIBlack';
      font-size:15px;
      padding:18px 32px;
      text-decoration:none;
      text-shadow:0px 1px 0px #555554;
  }
  .Jogar:hover {
      background-color:#ffb720;
  }
  .Jogar:active {
      position:relative;
      top:1px;
  }
  
  .Sair {
      background-color:#ff6450;
      border-radius:42px;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family: 'Bahnschrift';
      font-size:17px;
      padding:18px 50px;
      text-decoration:none;
      text-shadow:0px 1px 0px #2f6627;
  }
  .Sair:hover {
      background-color:#ff7060;
  }
  .Sair:active {
      position:relative;
      top:1px;
  }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color:#ffe091 ;
    font-family: 'Bahnschrift';
    text-align: center;
  } 
  .css-input {
      font-family: 'SegoeUIBlack';
      text-align: center;
       padding: 15px;
       font-size: 25px;
       border-width: 0px;
       border-color: #ffffff;
       background-color: #ebebeb;
       color: #ffae00;
       border-style: solid;
       border-radius: 50px;
       box-shadow: 0px 0px 0px rgba(66,66,66,.0);
       text-shadow: 0px 0px 0px rgba(66,66,66,.0);
  
  }
   .css-input:focus {
       outline:none;
  }
  
  ::-webkit-input-placeholder {
     color: #ffae00;
  }
  