@font-face {
  font-family: "SegoeUIBlack";
  src: url("../fonts/seguibl.woff") format("woff"), /* Modern Browsers */
    url("../fonts/seguibl.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

.hide {
    display: none;
}
.skills-wheel {
    border: 0px solid #000;
    box-sizing: border-box;
    height: 518px;
    margin: 0 auto 2em;
    overflow: hidden;
    position: relative;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 518px;
}
.skills-wheel:before {
    border-style: solid;
    border-width: 32px 32px 0 32px;
    border-color: #ffffff transparent transparent transparent;
    content:"";
    height: 0;
    left: 50%;
    margin-left: -32px;
    position: absolute;
    top: 8px;
    z-index: 100;
    width: 0;
}
.skills-wheel .btn {
    background-color: #404040;
    color: #fff;
    border: 4px solid #ffffff;
    -webkit-box-shadow: inset 0 -8px 0 #2b2b2b;
    -moz-box-shadow: inset 0 -8px 0 #2b2b2b;
    box-shadow: inset 0 -8px 0 #2b2b2b;
    font-family:"avantgarde_bold", Helvetica, Arial, sans-serif;
    height: 100px;
    left: 50%;
    line-height: 100px;
    margin: -54px 0 0 -54px;
    padding: 0;
    position: absolute;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    top: 50%;
    width: 100px;
}

/*/////////////////////////////ATIVIDADE 1 DIVS////////////////////////////////////////////////////////////////////*/

.speakBtn{
    max-width: 190px;
    max-height: 150px;
    margin-top: 15px;
}

.imgObj{
    max-width: 190px;
    max-height: 150px;
}

.fontePadrao{
    font-family: 'SegoeUIBlack';
    color: #FAB005;
    margin-top: 30px;
    font-size: 32px;
}

.fontePadraoMaior{
    font-family: 'SegoeUIBlack';
    color: #FAB005;
    margin-top: 30px;
    font-size: 42px;
}

.atv1{
        border-radius: 50px;
        background: #DCDCDC;
        width: 200vh;
        height: 90vh;
        display:table;
        text-align: center;
        vertical-align:middle;
        display:table-cell;
}

.div-certo{
     display: none;
     border-radius: 50px;
     background: #DCDCDC;
     width: 200vh;
     height: 90vh;
     text-align: center;
     vertical-align:middle;
}

.div-errado{
    display: none;
    border-radius: 50px;
    background: #DCDCDC;
    width: 200vh;
    height: 90vh;
    text-align: center;
    vertical-align:middle;
}

.correto{
    font-family: 'SegoeUIBlack';
    margin-top: 30px;
    font-size: 32px;
    color: #40C057;
}

.errado{
    font-family: 'SegoeUIBlack';
    color: #FA5252;
    margin-top: 30px;
    font-size: 32px;
}


/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.continuarp2 {
    margin-top: 30px;
	background-color:#fab005;
	border-radius:28px;
	border:1px solid #fab005;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
    padding:16px 31px;
    font-family: 'SegoeUIBlack';
	text-decoration:none;
	text-shadow:0px 1px 0px #fab005;
}
.continuarp2:hover {
	background-color:#ffbe3d;
}
.continuarp2:active {
	position:relative;
	top:1px;
}

.tryagain {
    margin-top: 30px;
	background-color:#fa5252;
	border-radius:28px;
	border:1px solid #fa5252;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #fa5252;
}
.tryagain:hover {
	background-color:#fc3737;
}
.tryagain:active {
	position:relative;
	top:1px;
}

.score{
	font-family: 'SegoeUIBlack';
	
}

.divj1{
	display: flex;

}

.skills-wheel .btn:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 96px;
    margin-top: -50px;
}
.wheel {
    background-image: url(../img/foda.JPG);
    background-position: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    width: 100%;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
}
.wheel li {
    font-family:"avantgarde_bold", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-size: 1.2rem;
    height: 50%;
    line-height: 18px;
    list-style: none;
    left: 50%;
    margin: 0 0 0 -106px;
    padding: 0;
    position: absolute;
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    top: 0;
    width: 39.552238806%;
}
.wheel li:before {
    display: none;
}
.wheel a {
    color: #000;
    left: 0;
    position: absolute;
    text-decoration: none;
    top: 48px;
    width: 100%;
}
.wheel li:nth-child(1) {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}
.wheel li:nth-child(2) {
    -webkit-transform: rotate(72deg);
    -moz-transform: rotate(72deg);
    -ms-transform: rotate(72deg);
    -o-transform: rotate(72deg);
    transform: rotate(72deg);
}
.wheel li:nth-child(3) {
    -webkit-transform: rotate(144deg);
    -moz-transform: rotate(144deg);
    -ms-transform: rotate(144deg);
    -o-transform: rotate(144deg);
    transform: rotate(144deg);
}
.wheel li:nth-child(4) {
    -webkit-transform: rotate(216deg);
    -moz-transform: rotate(216deg);
    -ms-transform: rotate(216deg);
    -o-transform: rotate(216deg);
    transform: rotate(216deg);
}
.wheel li:nth-child(5) {
    -webkit-transform: rotate(288deg);
    -moz-transform: rotate(288deg);
    -ms-transform: rotate(288deg);
    -o-transform: rotate(288deg);
    transform: rotate(288deg);
}

}
.wheel li:nth-child(odd) img {
    -webkit-opacity: 0.8;
    -moz-opacit: 0.8;
    opacity: 0.8;
}

.luz-apagada {
            color: white;
            background-color: black;
        }
.container{
	width: 80%;
	margin: 0 auto;

}


header{
	background: #ffe091;
}
header::after{
	content: '';
	display: table;
	clear: both;
}
body{
	margin: 0;
	font-weight: 300;
}
nav{
	float: right;
}
nav ul{
	width: auto;
	float: right;
	margin-top: 2px;

}
nav li{
	display: inline-block;
	padding: 5px 10px;
	margin-top: 7px;

}

.Sair {
	background-color:#ff6450;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:17px;
	padding:18px 50px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.Sair:hover {
	background-color:#ff7060;
}
.Sair:active {
	position:relative;
	top:1px;
}
.qmsomos {
	background-color:#ffae00;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:17px;
	padding:18px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e69900;
}
.qmsomos:hover {
	background-color:#ffb720;
}
.qmsomos:active {
	position:relative;
	top:1px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color:#ffe091 ;
  font-family:Trebuchet MS;
  text-align: center;
} 
.players{
	     display: flex;
         justify-content: center;
         align-items: center;
         font-family:Trebuchet MS;
         color: black;
      	 font-size: 35px;
}

.p1{
	width: 150x;
    font-family: 'SegoeUIBlack';
}
.p2{
    font-family: 'SegoeUIBlack';
	width: 400px;
	text-align: right;

}
.meio{
	width: 100px;
	text-align: center;
}	

.speakBtn:hover{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.css-input {
    font-family: 'SegoeUIBlack';
    text-align: center;
     padding: 15px;
     font-size: 25px;
     border-width: 0px;
     border-color: #ffffff;
     background-color: #ebebeb;
     color: #ffae00;
     border-style: solid;
     border-radius: 50px;
     box-shadow: 0px 0px 0px rgba(66,66,66,.0);
     text-shadow: 0px 0px 0px rgba(66,66,66,.0);

}
 .css-input:focus {
     outline:none;
}
